@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

body {
    background-color: var(--black-color);
    /* background-color: wheat; */
}

/* HOME */
.home {
    background-color: var(--bg-color);
    position: fixed;
    height: 100px;
    width: 240px;
    border-radius: 5px;
}

.home p {
    text-decoration: none;
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    transition: .5s ease;
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
    padding: 3px;
    margin-left: 20px;
}

.home p:hover, .library a:hover, .library-type p:hover, .library-search a:hover {
    color: var(--white-color);
    text-shadow: 0 0 15px white;
}

/* ASIDE */
aside {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    position: fixed;
    top: 115px;
    height: 100vh;
    width: 240px;
    border-radius: 5px;
}

.library {
    display: flex;
    justify-content: space-between;
}

.library p {
    font-size: 1.8rem;
    padding: 0 20px;
}

.library a {
    transition: .5s ease;
    color: var(--text-color);
    text-decoration: none;
}

.library-type {
    position: fixed;
    top: 164px;
    left: 0;
    display: flex;
    justify-content: flex-start ;
    padding-left: 10px;
    color: var(--text-color);
}

.library-type p {
    padding: 8px 12px;
    background-color: var(--hover-color);
    margin: 0 10px;
    font-size: 1rem;
    border-radius: 10px;
    font-weight: 300;
    cursor: pointer;
    transition: .5s ease;
}

.library-search {
    position: fixed;
    width: 240px;
    top: 190px;
    left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.library-search-icon {
    font-size: 1.2rem;
    padding: 4px 6px;
    border-radius: 50%;
    background-color: var(--hover-color);
}

.library-search a {
    color: var(--text-color);
    transition: .5s ease;
}

.library-search-choose {
    font-size: 1rem;
    position: relative;
    right: 30px;
    top: 7px;
}

.library-search-choose a {
    text-decoration: none;
}

.library-playlist {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
    overflow-y: scroll;
    height: 50%;
}

.search-area {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #fff;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--black-color); /* Màu của phần thumb */
    border-radius: 4px; /* Đặt độ cong cho phần thumb */
}

.library-playlist-item {
    height: 60px;
    width: 230px;
    margin: 5px;
    position: relative;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 5px;
    transition: .5s ease;
    opacity: 0;
    animation: upper .8s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

@keyframes upper {
    from {
        transform: translateY(40px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.library-playlist-img img {
    padding: 2px;
    margin: 5px;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    object-fit: cover;
}

.library-playlist-title {
    line-height: 10px;
    color: var(--white-color);
}

.library-playlist-title p:first-child {
    font-size: 1.6rem;
    font-weight: 900;
}

.library-playlist-title p:last-child {
    font-size: 1rem;
    font-weight: 300;
}

.library-playlist-item:hover {
    background-color: var(--hover-color);
}

/* FOOTER */
footer {
    display: flex;
    position: fixed;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--black-color);
    z-index: 1;
}

.song-playing-item {
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 250px;
    align-items: center;
}

.song-playing-img {
    height: 50px;
    width: 50px;
    padding-left: 10px;
    cursor: pointer;
}

.song-playing-img img{
    height: 50px;
    width: 50px;
    border-radius: 5px;
    box-sizing: border-box;
    object-fit: cover;
}

.song-playing-title {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 14px;
    line-height: 5px;
    color: var(--white-color);
}

.song-playing-title-namesong {
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--white-color);
    transition: .5s ease;
    font-weight: 300;
}

.song-playing-title-namesinger span{
    font-size: .8rem;
    cursor: pointer;
    color: var(--white-color);
    transition: .5s ease;
}

.song-playing-title-namesong:hover, .song-playing-title-namesinger span:hover {
    text-decoration: underline;
    text-shadow: 0 0 15px white;
}

.song-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 40%;
}

.song-control-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    padding-left: 0;
    height: 60px;
    width: 320px;
}

.song-control-item {
    font-size: 2rem;
    color: var(--white-color);
    cursor: pointer;
}

#music-duration {
    position: absolute;
    left: -40px;
    font-size: 1.4rem;
}

#music-duration-end {
    position: absolute;
    right: -40px;
    top: 0px;
    font-size: 1.4rem;
}

.range {
    position: relative;
    top: -20px;
    font-size: 1.2rem;
    color: var(--white-color);
    width: 80%;
    align-items: center;
}

.range-item {
    height: 2px;
    max-width: 722px;
    width: 100%;
    position: relative;
    top: -5px;
}

.song-option {
    height: auto;
    width: 20%;
}

.song-option-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 23px 0;
}

.song-option-item {
    font-size: 1.6rem;
    cursor: pointer;
    color: var(--white-color);
}

section {
    position: fixed;
    min-width: 20%;
    height: 50px;
    top: 5px;
    left: 250px;
    border-radius: 5px;
    width: 80%;
    background-color: var(--bg-color);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.logo h2 {
    font-size: 2.4rem;
    color: var(--white-color);
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    z-index: 2;
}

.logo p {
    font-size: 4.5rem;
    color: goldenrod;
    transform: rotate(45deg);
    position: absolute;
    top: -50px;
    left: 70px;
    z-index: 0;
    cursor: pointer;
    transition: .5s ease;
}

.hyper-link {
    min-width: 40%;
}

.hyper-link-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

.hyper-link-item {
    color: var(--white-color);
    font-size: 1.8rem;
    margin-top: 10px;
    cursor: pointer;
    transition: 1s ease;
}

.logo:hover .shape {
    transform: rotate(-50deg);
}

.hyper-link-item:hover {
    text-shadow: 0 0 10px white;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--bg-color);
    border-radius: 5px;
    z-index: 0;
    overflow-y: scroll;
    height: 100vh;
}

.multiText {
    font-size: 3.2rem;
    font-weight: 900;
    margin: 20px;
    color: var(--white-color);
    height: 16px;
}

.main-item {
    display: flex;
    flex-direction: row;
    height: 75px;
    min-width: 260px;
    flex: 1;
    background-color: var(--item-color);
    border-radius: 5px;
    object-fit: contain;
}

.main-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10px;
    justify-content: space-evenly;
    overflow-y: scroll;
}

.main-item {
    margin: 10px 10px;
    transition: .5s ease;
}

.main-item:hover {
    background-color: #404346;
}

.main-item img {
    height: 75px;
    width: 75px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.main-item span {
    width: 75%;
    font-size: 1.8rem;
    color: var(--white-color);
    line-height: 26px;
    padding: 0 10px;
    align-self: center;
}



/* MAINNNNNNNNNNNNNN */
.title-general {
    font-size: 1.8rem;
    color: var(--white-color);
    margin-left: 20px;
    transition: .5s linear;
}

.title-general:hover {
    text-decoration: underline;
}

.for-you {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.for-you-item {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 18%;
    min-width: 170px;
    background-color: var(--item-color);
    border-radius: 10px;
    margin: 0 10px;
    cursor: pointer;
    opacity: 0;
    animation: toLeft .8s ease forwards;
    animation-delay: calc(.2s * var(--i));
    transition: background-color .2s linear;
}

@keyframes toLeft {
    from {
        transform: translateX(-20px);
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.for-you-item:hover {
    background-color: var(--hover-color);
}

.for-you-item img {
    height: 150px;
    width: 150px;
    margin: auto;
    border-radius: 10px;
    object-fit: cover;
}

.for-you-item-title {
    color: var(--white-color);
    line-height: 10px;
    margin: 0 20px;
    overflow: auto;
}

.for-you-item-title-main {
    font-size: 1.4rem;
}

.for-you-item-title-sub {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 15px;
    color: var(--text-color);
}

.for-you-list {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap;  */
    /* justify-content: space-between; */
}

.null {
    display: block;
    height: 130px;
    width: 100%;
}

.home:focus .home{
    display: none;
}

.hiden {
    display: none;
}
 
.home > .text-underline {
    text-decoration: underline;
    color: var(--white-color);
    font-weight: 900;
}

/* SEARCHHHHHHHHHHHHHHHHHHHHHHHHHH */
.heading {
    background-color: var(--black-color);
    position: fixed;
    height: 100px;
    width: 80%;
    right: 5px;
    top: 0;
    z-index: 2;
}

.header {
    position: fixed;
    display: flex;
    width: 80%;
    background-color: var(--bg-color);
    right: 5px;
    top: 5px;
    border-radius: 5px;
    z-index: 2;
}

.search-input {
    position: fixed;
    right: 5px;
    top: 70px;
    border-radius: 5px;
    background-color: #fff;
    height: 50px;
    width: 80%;
    z-index: 2;
}

.search-input input {
    height: 50px;
    width: 50%;
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: 10px;
    font-size: 1.8rem;
    font-family: inherit;
}

.search-input-icon {
    position: fixed;
    right: 30px;
    top: 67px;
    font-size: 1.8rem;
    color: var(--item-color);
}

/* Recommend */
.recommend {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    left: 248px;
    top: 120px;
    width: 80.5%;
    border-radius: 5px;
    padding-left: 10px;
    z-index: 1;
}

.recommend-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 30px;
    justify-content: space-between;
    margin: 0 20px;
}

.recommend-text {
    font-size: 2.4rem;
    font-weight: 900;
    line-height: 60px;
    color: var(--white-color);
}

.recommend-item {
    display: flex;
    flex-direction: column;
    background-color: #e13300;
    height: 220px;
    width: 220px;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    animation: showing calc(.3s * var(--i)) ease-in-out forwards;
}

@keyframes showing {
    to {
        opacity: 1;
    }
}

.recommend-item-text {
    font-size: 2.4rem;
    font-weight: 900;
}

.recommend-item-img img{
    height: 120px;
    width: 120px;
    position: absolute;
    right: -5px;
    bottom: -5px;
    transform: rotate(30deg);
    z-index: 0;
    object-fit: cover;
}